@media screen and (max-width: 767px) {
  .header {
    position: sticky;
    background-color: rgb(31, 31, 49);
    z-index: 100;
    top: 0;
    > :first-child {
      padding: .4rem 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-weight: 600;

      span {
        color: rgb(219, 120, 21);
      }
      > :first-child {
        font-size: 0.95rem;
        height: min-content;
      }

      > :last-child {
        display: flex;
        gap: 0.4rem;
        align-items: center;

        > form {
          display: flex;

          > input {
            width: 20px;
            outline: none;
            border-radius: 1rem 0 0 1rem;
            border: none;
            padding: 0.5rem 0 0.5rem 0.8rem;
            background-color: rgba(84, 84, 84, 0.293);
            background-color: rgba(84, 84, 84, 0.293);
            color: rgba(255, 255, 255, 0.837);

            &::placeholder {
              font-weight: 400;
              font-family: Poppins;
              font-size: 0.7rem;
              color: rgba(255, 255, 255, 0.607);
            }
          }

          > button {
            background-color: rgba(84, 84, 84, 0.293);
            color: #fff;
            border: none;
            padding: 0 0.6rem;
            border-radius: 0 1rem 1rem 0;
            cursor: pointer;
          }
        }

        > div {
          display: flex;
          font-size: 1.2rem;
          gap: 0.6rem;
          height: min-content;
          cursor: pointer;
        }
      }
    }

    > :last-child {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      background-color: rgb(31, 31, 49);

      * {
        padding: 0;
        margin: 0;
      }

      > :first-child {
        font-size: 1.4rem;
        position: fixed;
        right: 1rem;
        top: 1.6rem;
      }

      ul {
        margin-top: 4rem;
        list-style: none;
        display: grid;
        gap: 2rem;

        > li {
          > a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.61);
            text-decoration: none;

            > :first-child {
              font-size: 1.8rem;
            }

            > :last-child {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .search {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;

    span {
      color: rgb(219, 120, 21);
    }
    > :first-child {
      font-size: 0.95rem;
      height: min-content;
    }

    > :last-child {
      display: flex;
      gap: 0.4rem;
      align-items: center;

      > form {
        display: flex;

        > input {
          width: 20px;
          outline: none;
          border-radius: 1rem 0 0 1rem;
          border: none;
          padding: 0.5rem 0 0.5rem 0.8rem;
          background-color: rgba(84, 84, 84, 0.293);
          background-color: rgba(84, 84, 84, 0.293);
          color: rgba(255, 255, 255, 0.837);

          &::placeholder {
            font-weight: 400;
            font-family: Poppins;
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.607);
          }
        }

        > button {
          background-color: rgba(84, 84, 84, 0.293);
          color: #fff;
          border: none;
          padding: 0 0.6rem;
          border-radius: 0 1rem 1rem 0;
          cursor: pointer;
        }
      }

      > div {
        display: flex;
        font-size: 1.2rem;
        gap: 0.6rem;
        height: min-content;
        cursor: pointer;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 85vh;

    > h3 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
      justify-self: center;
      align-self: center;
    }

    > div:first-child {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    position: sticky;
    background-color: rgb(31, 31, 49);
    z-index: 100;
    top: 0;
    > :first-child {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-weight: 600;

      span {
        color: rgb(219, 120, 21);
      }
      > :first-child {
        font-size: 1.6rem;
        height: min-content;
      }

      > :last-child {
        display: flex;
        gap: 0.4rem;
        align-items: center;

        > form {
          display: flex;

          > input {
            outline: none;
            font-size: 1rem;
            border-radius: 1rem 0 0 1rem;
            border: none;
            padding: 0.5rem 0 0.5rem 0.8rem;
            background-color: rgba(84, 84, 84, 0.293);
            color: rgba(255, 255, 255, 0.837);

            &::placeholder {
              font-weight: 400;
              font-family: Poppins;
              color: rgba(255, 255, 255, 0.607);
            }
          }

          > button {
            background-color: rgba(84, 84, 84, 0.293);
            color: #fff;
            border: none;
            font-size: 1.2rem;
            padding: 0 0.6rem;
            border-radius: 0 1rem 1rem 0;
            cursor: pointer;
          }
        }

        > div {
          display: flex;
          font-size: 1.6rem;
          gap: 0.8rem;
          height: min-content;
          cursor: pointer;
        }
      }
    }

    > :last-child {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      background-color: rgb(31, 31, 49);

      * {
        padding: 0;
        margin: 0;
      }

      > :first-child {
        font-size: 2.4rem;
        position: fixed;
        right: 1rem;
        top: 1.6rem;
      }

      ul {
        margin-top: 4rem;
        list-style: none;
        display: grid;
        gap: 2rem;

        > li {
          > a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.61);
            text-decoration: none;

            > :first-child {
              font-size: 2.8rem;
            }

            > :last-child {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .search {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;

    span {
      color: rgb(219, 120, 21);
    }
    > :first-child {
      font-size: 0.95rem;
      height: min-content;
    }

    > :last-child {
      display: flex;
      gap: 0.4rem;
      align-items: center;

      > form {
        display: flex;

        > input {
          width: 20px;
          outline: none;
          border-radius: 1rem 0 0 1rem;
          border: none;
          padding: 0.5rem 0 0.5rem 0.8rem;
          background-color: rgba(84, 84, 84, 0.293);
          background-color: rgba(84, 84, 84, 0.293);
          color: rgba(255, 255, 255, 0.837);

          &::placeholder {
            font-weight: 400;
            font-family: Poppins;
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.607);
          }
        }

        > button {
          background-color: rgba(84, 84, 84, 0.293);
          color: #fff;
          border: none;
          padding: 0 0.6rem;
          border-radius: 0 1rem 1rem 0;
          cursor: pointer;
        }
      }

      > div {
        display: flex;
        font-size: 1.2rem;
        gap: 0.6rem;
        height: min-content;
        cursor: pointer;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 85vh;

    > h3 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
      justify-self: center;
      align-self: center;
    }

    > div:first-child {
      display: none;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: sticky;
    background-color: rgb(31, 31, 49);
    z-index: 100;
    top: 0;
    > :first-child {
      padding: 1rem 6.5rem;
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-weight: 600;

      span {
        color: rgb(219, 120, 21);
      }
      > :first-child {
        font-size: 1.4rem;
        height: min-content;
      }

      > :last-child {
        display: flex;
        gap: 0.8rem;
        align-items: center;

        > form {
          display: flex;

          > input {
            outline: none;
            border-radius: 1rem 0 0 1rem;
            border: none;
            padding: 0.5rem 0 0.5rem 0.8rem;
            background-color: rgba(84, 84, 84, 0.293);
            background-color: rgba(84, 84, 84, 0.293);
            color: rgba(255, 255, 255, 0.837);

            &::placeholder {
              font-weight: 400;
              font-family: Poppins;
              color: rgba(255, 255, 255, 0.607);
            }
          }

          > button {
            background-color: rgba(84, 84, 84, 0.293);
            color: #fff;
            border: none;
            padding: 0 0.6rem;
            border-radius: 0 1rem 1rem 0;
            cursor: pointer;
          }
        }

        > div {
          display: flex;
          font-size: 1.3rem;
          height: min-content;
          cursor: pointer;
        }
      }
    }

    > :last-child {
      position: fixed;
      top: 25%;
      color: #fff;
      width: 5rem;

      * {
        padding: 0;
        margin: 0;
      }

      ul {
        list-style: none;
        display: grid;
        gap: 2rem;

        > li {
          > a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.61);
            text-decoration: none;

            > :first-child {
              font-size: 1.6rem;
            }

            > :last-child {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .search {
    padding: 1rem 6.5rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;

    span {
      color: rgb(219, 120, 21);
    }
    > :first-child {
      font-size: 1.4rem;
      height: min-content;
    }

    > :last-child {
      display: flex;
      gap: 0.8rem;
      align-items: center;

      > form {
        display: flex;

        > input {
          outline: none;
          border-radius: 1rem 0 0 1rem;
          border: none;
          padding: 0.4rem 0 0.4rem 0.8rem;
          background-color: rgba(84, 84, 84, 0.293);
          background-color: rgba(84, 84, 84, 0.293);
          color: rgba(255, 255, 255, 0.837);

          &::placeholder {
            font-weight: 500;
            font-family: Poppins;
            color: rgba(255, 255, 255, 0.607);
          }
        }

        > button {
          background-color: rgba(84, 84, 84, 0.293);
          color: #fff;
          border: none;
          padding: 0 0.6rem;
          border-radius: 0 1rem 1rem 0;
          cursor: pointer;
        }
      }

      > div {
        display: flex;
        font-size: 1.3rem;
        height: min-content;
        cursor: pointer;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 85vh;

    > h3 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
      justify-self: center;
      align-self: center;
    }

    > div:first-child {
      padding: 1rem 6.5rem 0 6.5rem;

      > img {
        position: relative;
        width: 100%;
        border-radius: 1rem;
      }

      > div {
        margin-left: 1rem;
        font-family: "Poppins";
        width: 20rem;
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
        * {
          margin: 0;
        }

        h1 {
          font-weight: 600;
        }

        p {
          color: #ff9a35;
          margin-top: 0.6rem;
        }

        > div {
          display: flex;
          gap: 0.6rem;
          align-items: center;
          margin-top: 1rem;
          > a {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            background-color: #e88725;
            padding: 0.4rem;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            cursor: pointer;
            font-size: 1.6rem;
            color: #fff;
          }
        }
      }
    }
  }
}
