.user {
  position: relative;

  > div {
    width: max-content;
    display: grid;
    gap: 0.8rem;
    bottom: -5.5rem;
    left: -6.5em;
    position: absolute;
    background-color: #393948;
    border: 1px solid rgb(111, 111, 111);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.427);
    padding: 0.6rem 0.8rem;

    > :first-child {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      svg {
        font-size: 1.4rem;
      }

      span {
        font-size: .9rem;
        color: #fff;
      }
    }

    > :last-child {
      display: grid;
      justify-items: center;

      > a {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        text-decoration: none;
        svg {
          color: #fff;
          font-size: 1.2rem;
        }

        span {
          font-size: 0.8rem;
          color: #fff;
        }
      }

      > div {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        text-decoration: none;
        svg {
          color: #fff;
          font-size: 1.2rem;
        }

        span {
          font-size: 0.8rem;
          width: max-content;
          color: #fff;
        }
      }
    }
  }
}
